.mainwrapper {
    padding-top: 40px;
    overflow: hidden;
}

.bootstrap-slider .slider-selection {
	background: #BABABA;
}

.nav-tabs>li {
    font-size: 11px;
}

.world-outter {
    padding: 10px;
    height: 620px;
    width: 820px;
}

#world {
    position: relative;
    width: 800px;
    height: 600px;
}

.boid {
    position: absolute;
    background-color: red !important;
}

.velocity {
    position: absolute;
    height: 1px;
    background: black;
}

.obstacle {
    position: absolute;
    background-color: green !important;
}

.predator {
    position: absolute;
    background-color: blue !important;
}

.settings-outter {
    height: 620px;
}